$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #c3f;
$font-color: #dfdfdf;

$unit: 30px;
$width: (4 * $unit);
$height: (4 * $unit);

body {
  background-color: $background-color;
  color: $font-color;
}

h1 {
  text-align: center;
}

.row-top >.col-xs-4,
.row-middle > .col-xs-4,
.row-bottom > .col-xs-4 {
  border: 4px solid $font-color;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  padding: 50px;
  width: 100px;

}

.game-board {
  margin: 0 35%;
  text-align: center;
}


.navbar-right {
  margin: 10px;
}
//edia (max-:800px){
//   .game-board {
//     width: 100px;
// }
// };


// @media (max-width:1000px){
//   .row-top >.col-xs-4,
//   .row-middle > .col-xs-4,
//   .row-bottom > .col-xs-4 {
//     height: 50px;
//     width: 50px;
//   }
// };
